/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF                  

*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

boby { background-color: beige;

}

li { 
list-style: none;

}

header {

background-color: white(66, 26, 26);
display: flex;
justify-content: space-between;
padding: 10px 30px;

}


     nav {

     display: flex;
     gap: 10px;

     }

     @media (min-wight: 768px) {
    .navegacion-escritorio { 
        display: flex;
    }
    .navegacion-mobile {

    display: none;

    }

    main {
        margin-top: 100px;

    }

     .navegacion-escritorio {
        display: flex;
        gap: 10px;
        align-items: center;
  
       }

  .seccion-principal  {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-image: url(../images/landing.jpg);

}






